---
import type { GetStaticPaths, Page } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Pagination from "@components/Pagination.astro";
import Posts from "@components/Posts.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = (
    await getCollection("post", ({ data }) => {
      return !(import.meta.env.PROD && data.draft);
    })
  )
    .sort((a, b) => (a.data.published < b.data.published ? 1 : -1));

  return paginate(allPosts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={`KameWalk / page-${page.currentPage}`}>
  <main>
    <h1>BLOG</h1>
    <Posts posts={page.data} />
  </main>
  <Pagination page={page} />
</Layout>

<style>
  main {
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 1.5em;
  }
</style>
