---
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Pagination from "../../components/Pagination.astro";


interface Props {
  page: Page<CollectionEntry<"post">>;
}

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = (await getCollection("post")).sort((a, b) =>
    a.data.published < b.data.published ? 1 : -1,
  );

  return paginate(allPosts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={`KameWalk / page-${page.currentPage}`}>
  <main>
    <h2>BLOG</h2>
    <ul>
      {page.data.map(({ data, slug }) => <Card {data} {slug} />)}
    </ul>
  </main>
  <Pagination {page} />
</Layout>

<style>
  main {
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 40px;
  }

  ul {
    padding: 0;
  }
</style>
