---
---

<footer>
  <p class="copyright">2023 - Copyright K-tecchan, All Rights Reserved.</p>
</footer>

<style>
  footer {
    width: 100%;
    margin-top: auto;
    text-align: center;
    border-top: 1px solid #d8d8d8;
  }
</style>
