---

---

<footer>
  <p class="copyright">&copy; 2023 K-tecchan</p>
</footer>

<style>
  footer {
    width: 100%;
    margin-top: auto;
    text-align: center;
    border-top: 1px solid var(--type-color);
  }
</style>
