---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  alt: string;
  quality: string;
}

const { src, alt, quality } = Astro.props;
---

<div>
  <Image {src} {alt} {quality} />
</div>

<style>
  div {
    width: 100%;

    & img {
      width: 100%;
      height: auto;
    }
  }
</style>
