---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  alt: string;
  quality: string;
  description?: string;
}

const { src, alt, quality, description } = Astro.props;
---

<div>
  <Image {src} {alt} {quality} />
  {description && <p>{description}</p>}
</div>

<style>
  div {
    width: 100%;

    & img {
      width: 100%;
      height: auto;
    }

    & p {
      font-size: 0.8rem;
      color: var(--darker-type);
      margin-top: 0;
      text-align: center;
    }
  }
</style>
