---
interface Props {
  title: string;
}

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import myIcon from "../assets/k-tecchan.png";
const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href={myIcon.src} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --typeColor: #d8d8d8;
    --backgroundColor: #232323;
    --main-color: #06cdf4;
  }

  html {
    font-family: system-ui, sans-serif;
    color: var(--typeColor);
    background: var(--backgroundColor);
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
